.loginComponent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1rem; 
    background-image: linear-gradient(285deg, rgba(57, 57, 57, 0.04) 0%, rgba(57, 57, 57, 0.04) 25%, rgba(126, 126, 126, 0.04) 25%, rgba(126, 126, 126, 0.04) 50%, rgba(80, 80, 80, 0.04) 50%, rgba(80, 80, 80, 0.04) 75%, rgba(117, 117, 117, 0.04) 75%, rgba(117, 117, 117, 0.04) 100%), linear-gradient(333deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 25%, rgba(154, 154, 154, 0.04) 25%, rgba(154, 154, 154, 0.04) 50%, rgba(218, 218, 218, 0.04) 50%, rgba(218, 218, 218, 0.04) 75%, rgba(91, 91, 91, 0.04) 75%, rgba(91, 91, 91, 0.04) 100%), linear-gradient(45deg, rgba(14, 14, 14, 0.04) 0%, rgba(14, 14, 14, 0.04) 25%, rgba(216, 216, 216, 0.04) 25%, rgba(216, 216, 216, 0.04) 50%, rgba(44, 44, 44, 0.04) 50%, rgba(44, 44, 44, 0.04) 75%, rgba(111, 111, 111, 0.04) 75%, rgba(111, 111, 111, 0.04) 100%), linear-gradient(251deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 25%, rgba(107, 107, 107, 0.04) 25%, rgba(107, 107, 107, 0.04) 50%, rgba(167, 167, 167, 0.04) 50%, rgba(167, 167, 167, 0.04) 75%, rgba(34, 34, 34, 0.04) 75%, rgba(34, 34, 34, 0.04) 100%), linear-gradient(63deg, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 25%, rgba(16, 16, 16, 0.04) 25%, rgba(16, 16, 16, 0.04) 50%, rgba(190, 190, 190, 0.04) 50%, rgba(190, 190, 190, 0.04) 75%, rgba(159, 159, 159, 0.04) 75%, rgba(159, 159, 159, 0.04) 100%), linear-gradient(90deg, rgb(44, 69, 142), rgb(133, 17, 234));;
}

.login{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    background-image: linear-gradient(45deg, rgba(187, 187, 187, 0.04) 0%, rgba(187, 187, 187, 0.04) 50%, rgba(86, 86, 86, 0.04) 50%, rgba(86, 86, 86, 0.04) 100%), linear-gradient(135deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 50%, rgba(92, 92, 92, 0.04) 50%, rgba(92, 92, 92, 0.04) 100%), linear-gradient(90deg, rgb(20, 20, 20), rgb(20, 20, 20));
        background-size: 142px 142px;
        color: whitesmoke;
}

.loginFields{
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 1rem;
}
.loginFields form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    width: 100%;
}

form label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,select{
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid black;
}


button{
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #663ab6;
    color: white;
    cursor: pointer;
}

label:nth-last-child(2),label:nth-last-child(3){
    display: flex;
    flex-direction: row;
}

.loginAssests{
    width: 50%;
    height: 80%;
}

/* .loginAssests img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 2rem;
} */

.display{
    /* background-color: antiquewhite; */
    font-size: 3rem;
    color: rgb(47, 221, 47);
    text-wrap: wrap;
    font-weight: bold;
    border-radius: 20px;
    display: block;
    position: absolute;
    margin: 0px auto;
    left: 40%;
    top:30%;
    z-index: 1;
    transition: all ease-in-out.5s;
    background-image: linear-gradient(238deg, rgba(4, 4, 4, 0.05) 0%, rgba(4, 4, 4, 0.05) 56%, rgba(211, 211, 211, 0.05) 56%, rgba(211, 211, 211, 0.05) 100%), linear-gradient(223deg, rgba(96, 96, 96, 0.05) 0%, rgba(96, 96, 96, 0.05) 58%, rgba(161, 161, 161, 0.05) 58%, rgba(161, 161, 161, 0.05) 100%), linear-gradient(263deg, rgba(232, 232, 232, 0.05) 0%, rgba(232, 232, 232, 0.05) 65%, rgba(243, 243, 243, 0.05) 65%, rgba(243, 243, 243, 0.05) 100%), linear-gradient(90deg, rgb(69, 55, 77), rgb(17, 31, 118));
}
.display span{
    padding-right: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    float: right;
    color: crimson;
}

.display span:hover{
    cursor: pointer;
    color: rgb(139, 33, 55);
}
.disable{
    background-color: #757474;
    color: black;  
}
.disable:hover{
cursor: not-allowed;
}